<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-calendar-heading" data-cy="CalendarCreateUpdateHeading" jhiTranslate="singabsenceApp.calendar.home.createOrEditLabel">
        Créer ou éditer un Calendar
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="singabsenceApp.calendar.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="singabsenceApp.calendar.title" for="field_title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="singabsenceApp.calendar.summury" for="field_summury">Summury</label>
          <input type="text" class="form-control" name="summury" id="field_summury" data-cy="summury" formControlName="summury" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="singabsenceApp.calendar.createdat" for="field_createdat">Createdat</label>
          <div class="d-flex">
            <input
              id="field_createdat"
              data-cy="createdat"
              type="datetime-local"
              class="form-control"
              name="createdat"
              formControlName="createdat"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label jhiTranslate="singabsenceApp.calendar.events" for="field_events">Events</label>
          <select
            class="form-control"
            id="field_events"
            data-cy="events"
            multiple
            name="events"
            formControlName="events"
            [compareWith]="compareEvent"
          >
            <option [ngValue]="eventOption" *ngFor="let eventOption of eventsSharedCollection">{{ eventOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
