<div>
  <h2 id="page-heading" data-cy="OrganizationHeading">
    <span jhiTranslate="singabsenceApp.organization.home.title">Organizations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="singabsenceApp.organization.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-organization"
        [routerLink]="['/organization/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="singabsenceApp.organization.home.createLabel">Créer un nouveau Organization</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="organizations?.length === 0">
    <span jhiTranslate="singabsenceApp.organization.home.notFound">Aucun Organization trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="organizations && organizations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="singabsenceApp.organization.id">Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="singabsenceApp.organization.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="logo">
            <div class="d-flex">
              <span jhiTranslate="singabsenceApp.organization.logo">Logo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="website">
            <div class="d-flex">
              <span jhiTranslate="singabsenceApp.organization.website">Website</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="domain">
            <div class="d-flex">
              <span jhiTranslate="singabsenceApp.organization.domain">Domain</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="phone">
            <div class="d-flex">
              <span jhiTranslate="singabsenceApp.organization.phone">Phone</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="director.id">
            <div class="d-flex">
              <span jhiTranslate="singabsenceApp.organization.director">Director</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="units.id">
            <div class="d-flex">
              <span jhiTranslate="singabsenceApp.organization.units">Units</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let organization of organizations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/organization', organization.id, 'view']">{{ organization.id }}</a>
          </td>
          <td>{{ organization.name }}</td>
          <td>
            <a *ngIf="organization.logo" (click)="openFile(organization.logo, organization.logoContentType)">
              <img
                [src]="'data:' + organization.logoContentType + ';base64,' + organization.logo"
                style="max-height: 30px"
                alt="organization image"
              />
            </a>
            <span *ngIf="organization.logo">{{ organization.logoContentType }}, {{ byteSize(organization.logo) }}</span>
          </td>
          <td>{{ organization.website }}</td>
          <td>{{ organization.domain }}</td>
          <td>{{ organization.phone }}</td>
          <td>
            <div *ngIf="organization.director">
              <a [routerLink]="['/employee', organization.director.id, 'view']">{{ organization.director.id }}</a>
            </div>
          </td>
          <td>
            <span *ngFor="let units of organization.units; let last = last">
              <a class="form-control-static" [routerLink]="['/team', units.id, 'view']">{{ units.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/organization', organization.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </a>

              <a [routerLink]="['/organization', organization.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </a>

              <button type="submit" (click)="delete(organization)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
