<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-attachment-heading"
        data-cy="AttachmentCreateUpdateHeading"
        jhiTranslate="singabsenceApp.attachment.home.createOrEditLabel"
      >
        Créer ou éditer un Attachment
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="singabsenceApp.attachment.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="singabsenceApp.attachment.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required"
              >Ce champ est obligatoire.</small
            >
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="singabsenceApp.attachment.category" for="field_category">Category</label>
          <select class="form-control" name="category" formControlName="category" id="field_category" data-cy="category">
            <option [ngValue]="null">{{ 'singabsenceApp.TypeOfAttachment.null' | translate }}</option>
            <option *ngFor="let typeOfAttachment of typeOfAttachmentValues" [value]="typeOfAttachment">
              {{ 'singabsenceApp.TypeOfAttachment.' + typeOfAttachment | translate }}
            </option>
          </select>
          <div *ngIf="editForm.get('category')!.invalid && (editForm.get('category')!.dirty || editForm.get('category')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('category')?.errors?.required"
              jhiTranslate="entity.validation.required"
              >Ce champ est obligatoire.</small
            >
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="singabsenceApp.attachment.picture" for="field_picture">Picture</label>
          <div>
            <img
              [src]="'data:' + editForm.get('pictureContentType')!.value + ';base64,' + editForm.get('picture')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('picture')!.value"
              alt="attachment image"
            />
            <div *ngIf="editForm.get('picture')!.value" class="form-text text-danger clearfix">
              <span class="pull-start"
                >{{ editForm.get('pictureContentType')!.value }}, {{ byteSize(editForm.get('picture')!.value!) }}</span
              >
              <button
                type="button"
                (click)="clearInputImage('picture', 'pictureContentType', 'file_picture')"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_picture"
              data-cy="picture"
              (change)="setFileData($event, 'picture', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="picture" id="field_picture" data-cy="picture" formControlName="picture" />
          <input
            type="hidden"
            class="form-control"
            name="pictureContentType"
            id="field_pictureContentType"
            formControlName="pictureContentType"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="singabsenceApp.attachment.document" for="field_document">Document</label>
          <div>
            <div *ngIf="editForm.get('document')!.value" class="form-text text-danger clearfix">
              <a
                class="pull-start"
                (click)="openFile(editForm.get('document')!.value!, editForm.get('documentContentType')!.value!)"
                jhiTranslate="entity.action.open"
                >Ouvrir</a
              ><br />
              <span class="pull-start"
                >{{ editForm.get('documentContentType')!.value }}, {{ byteSize(editForm.get('document')!.value!) }}</span
              >
              <button
                type="button"
                (click)="editForm.patchValue({ document: undefined, documentContentType: undefined })"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_document"
              data-cy="document"
              (change)="setFileData($event, 'document', false)"
              jhiTranslate="entity.action.addblob"
            />
          </div>
          <input type="hidden" class="form-control" name="document" id="field_document" data-cy="document" formControlName="document" />
          <input
            type="hidden"
            class="form-control"
            name="documentContentType"
            id="field_documentContentType"
            formControlName="documentContentType"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="singabsenceApp.attachment.owner" for="field_owner">Owner</label>
          <select
            class="form-control"
            id="field_owner"
            data-cy="owner"
            name="owner"
            formControlName="owner"
            [compareWith]="compareEmployee"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="employeeOption" *ngFor="let employeeOption of employeesSharedCollection">{{ employeeOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
