<div>
  <h2 id="page-heading" data-cy="EmployeeHeading">
    <span jhiTranslate="singabsenceApp.employee.home.title">Employees</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="singabsenceApp.employee.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-employee"
        [routerLink]="['/employee/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="singabsenceApp.employee.home.createLabel">Créer un nouveau Employee</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="employees?.length === 0">
    <span jhiTranslate="singabsenceApp.employee.home.notFound">Aucun Employee trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="employees && employees.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="singabsenceApp.employee.id">Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fullname">
            <div class="d-flex">
              <span jhiTranslate="singabsenceApp.employee.fullname">Fullname</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="phone">
            <div class="d-flex">
              <span jhiTranslate="singabsenceApp.employee.phone">Phone</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="position">
            <div class="d-flex">
              <span jhiTranslate="singabsenceApp.employee.position">Position</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="location">
            <div class="d-flex">
              <span jhiTranslate="singabsenceApp.employee.location">Location</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="birthday">
            <div class="d-flex">
              <span jhiTranslate="singabsenceApp.employee.birthday">Birthday</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="authenticateby.login">
            <div class="d-flex">
              <span jhiTranslate="singabsenceApp.employee.authenticateby">Authenticateby</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="calendar.id">
            <div class="d-flex">
              <span jhiTranslate="singabsenceApp.employee.calendar">Calendar</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="leaves.id">
            <div class="d-flex">
              <span jhiTranslate="singabsenceApp.employee.leaves">Leaves</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="service.id">
            <div class="d-flex">
              <span jhiTranslate="singabsenceApp.employee.service">Service</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/employee', employee.id, 'view']">{{ employee.id }}</a>
          </td>
          <td>{{ employee.fullname }}</td>
          <td>{{ employee.phone }}</td>
          <td>{{ employee.position }}</td>
          <td>{{ employee.location }}</td>
          <td>{{ employee.birthday | formatMediumDate }}</td>
          <td>
            {{ employee.authenticateby?.login }}
          </td>
          <td>
            <div *ngIf="employee.calendar">
              <a [routerLink]="['/calendar', employee.calendar.id, 'view']">{{ employee.calendar.id }}</a>
            </div>
          </td>
          <td>
            <span *ngFor="let leaves of employee.leaves; let last = last">
              <a class="form-control-static" [routerLink]="['/leave', leaves.id, 'view']">{{ leaves.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td>
            <div *ngIf="employee.service">
              <a [routerLink]="['/team', employee.service.id, 'view']">{{ employee.service.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/employee', employee.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </a>

              <a [routerLink]="['/employee', employee.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </a>

              <button type="submit" (click)="delete(employee)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
