.main-layout {
  width: 50%;
  height: 80%;
  padding-top: 90px;
  padding-bottom: 15px;
  position: absolute;
  top: 50px;
  left: 25%;
  background: white;
  margin: auto;
  display: flex;
  flex-direction: column; /* Pour empiler les éléments verticalement */
  align-items: center; /* Pour centrer horizontalement */
  justify-content: center; /* Pour centrer verticalement */
  flex-shrink: 0; /* Arrondi */
  filter: drop-shadow(0px 10px 120px rgba(237, 237, 237, 0.5)); /* Effet ombre */
}

.content-layout {
  width: 75%;
  height: auto;
  margin: auto;
}

.description-layout {
  margin-top: 23px;
  margin-bottom: 23px;
  display: flex;
  gap: 5px;
  flex-direction: row;
  justify-content: center;
  flex-shrink: 0;
  text-align: center;
  span {
    // typograhie
    color: var(--black43percent, rgba(29, 29, 27, 0.43));
    /* Layout head 20 */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
  }

  a {
    text-decoration: none;
    /* Layout head 20 */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
}

.space-between-item {
  margin: 20px 0;
}

.logo svg {
  display: flex;
  width: auto;
  height: 10%;
  margin: auto;
}

.info-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  display: flex;
  width: 100%;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;

  // typography
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

@media screen and (max-width: 1000px) {
  .main-layout {
    position: initial;
    width: 80%;
  }

  .content-layout {
    width: 90%;
    float: none;
  }

  .description-layout {
    margin-top: 20px;
    margin-bottom: 20px;
    span {
      // typograhie
      color: var(--black43percent, rgba(29, 29, 27, 0.43));
      /* Layout head 20 */
      font-size: 14px;
      font-weight: 400;
      line-height: 18px; /* 120% */
    }

    a {
      text-decoration: none;
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
    }
  }

  .logo svg {
    display: flex;
    width: 50%;
    height: 10%;
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  .main-layout {
    position: initial;
    width: 100%;
  }

  .content-layout {
    width: 90%;
    float: none;
  }

  .description-layout {
    margin-top: 20px;
    margin-bottom: 20px;
    span {
      // typograhie
      color: var(--black43percent, rgba(29, 29, 27, 0.43));
      /* Layout head 20 */
      font-size: 12px;
      font-weight: 300;
      line-height: 18px; /* 120% */
    }

    a {
      text-decoration: none;
      font-size: 13px;
      font-weight: 400;
      line-height: 18px;
    }
  }

  .logo svg {
    display: flex;
    width: 50%;
    height: 10%;
    margin: auto;
  }
}
