:root {
  --grey-blue: #f8fafc;
  --black-43: rgba(29, 29, 27, 0.43);
  --turquoise-50: rgba(0, 117, 141, 0.5);
  --Turquoise-100: #00758d;
  /* Input type Text Colors */
  --input-style-type-text-border-color: var(--grey-blue);
  --input-style-type-text-background-color: var(--grey-blue);
  --input-style-type-text-caret-color: var(--black-43);
  --input-style-type-text-selected-outline-color: var(--turquoise-50, rgba(0, 117, 141, 0.5));
  --input-style-type-text-selected-color: var(--turquoise-50, rgba(0, 117, 141, 0.5));
  --input-style-type-text-selected-border-color: var(--turquoise-50, rgba(0, 117, 141, 0.5));
  /* Label colors */
  --input-label-typography-color: var(--turquoise-turquoise, var(--Turquoise-100, #00758d));
}
