<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="organization">
      <h2 data-cy="organizationDetailsHeading"><span jhiTranslate="singabsenceApp.organization.detail.title">Organization</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="singabsenceApp.organization.id">Id</span></dt>
        <dd>
          <span>{{ organization.id }}</span>
        </dd>
        <dt><span jhiTranslate="singabsenceApp.organization.name">Name</span></dt>
        <dd>
          <span>{{ organization.name }}</span>
        </dd>
        <dt><span jhiTranslate="singabsenceApp.organization.logo">Logo</span></dt>
        <dd>
          <div *ngIf="organization.logo">
            <a (click)="openFile(organization.logo, organization.logoContentType)">
              <img
                [src]="'data:' + organization.logoContentType + ';base64,' + organization.logo"
                style="max-width: 100%"
                alt="organization image"
              />
            </a>
            {{ organization.logoContentType }}, {{ byteSize(organization.logo) }}
          </div>
        </dd>
        <dt><span jhiTranslate="singabsenceApp.organization.website">Website</span></dt>
        <dd>
          <span>{{ organization.website }}</span>
        </dd>
        <dt><span jhiTranslate="singabsenceApp.organization.domain">Domain</span></dt>
        <dd>
          <span>{{ organization.domain }}</span>
        </dd>
        <dt><span jhiTranslate="singabsenceApp.organization.phone">Phone</span></dt>
        <dd>
          <span>{{ organization.phone }}</span>
        </dd>
        <dt><span jhiTranslate="singabsenceApp.organization.director">Director</span></dt>
        <dd>
          <div *ngIf="organization.director">
            <a [routerLink]="['/employee', organization.director.id, 'view']">{{ organization.director.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="singabsenceApp.organization.units">Units</span></dt>
        <dd>
          <span *ngFor="let units of organization.units; let last = last">
            <a [routerLink]="['/team', units.id, 'view']">{{ units.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/organization', organization.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
